# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Others
*.bak
*.swp
*.swo

# Node
node_modules/

# Frontend build
frontend/dist/
frontend/build/
